/*---------------------------------Mise en forme générale-----------------------------*/

@font-face 
{
    font-family: 'Raleway';
    src: url("Assets/font/static/Raleway-Medium.ttf");
}

body
{
    font-family: Raleway, sans-serif;
}

*
{
    font-size: 1em;
}

#main-container
{
    max-width: 1440px;
}

em
{
    font-style: normal;
}

#logo img
{
    height: 45px;
    float: left;
    margin-bottom: 45px;
}

header h1
{
    clear: both;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}

header h1 + p
{
    font-size: 15px;
    font-style: normal;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 18px;
}

header p:last-child
{
    font-size: 15px;
    font-style: normal;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 45px;
}

/*----------------------------------------Dimensions verticales------------------------------------------*/
#logo, header, #middle, #bottom, #activites
{
    margin-left: 35px;
    margin-right: 35px;
}

header
{
    max-height: 25%;
    margin-top: 30px;
}

#middle, #middle section:last-child
{
    max-height: 35%;
}

footer
{
    max-height: 10%;
}

/*------------------------------------------Navigation-----------------------------------------*/

#inscription-mobile
{
    display: none;
}

nav ul
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 40px;
}

nav li
{
    display: inline-block;
    margin-right: 35px;
}

nav a
{
    text-decoration: none;
    font-size: 16px;
}

#inscription a
{
    color: #0065fc;
    font-weight: bold;
}

.ancre-1, .ancre-2
{
    color: black;
}

.ancre-1:hover, .ancre-2:hover
{
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 28px; 
}


/* ------------------------------------------Formulaire----------------------------------------*/

form
{
    margin-bottom: 25px;
}

#map-icon
{
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 10px 14px 11px 16px;
    margin-right: -3px;
}

input
{
    width: 150px;
    height: 36px;
    font: inherit;
    border: solid 1px #f2f2f2;
    border-left: 5px;
}

#lieu
{
    font-weight: bold;
    padding-left: 15px;
}

input[value="Rechercher"]
{
    width: 100px;
    height: 40px;
    color: white;
    background-color: #0065fc;
    border: #0065fc;
    border-radius: 0 12px 12px 0;
    margin-left: -5px;
}

.search-button
{
    visibility: hidden;
}

/* -----------------------------------------Filtres-----------------------------------------*/


#filtre, #filtre ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
}

#filtre ul
{
    margin-top: 0px;
    padding-inline-start: 0%;
}

#filtre li
{
    margin-bottom: 18px;
    margin-top: 12px;
}


/*Corriger le problème d'affichage des icônes*/


#filtre h1
{
    font-size: 17px;
    margin-right: 40px;
}

#filtre a
{
    height: 32px;
    color:black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 0px;
    border-top:  3px solid #f2f2f2;
    border-bottom:  3px solid #f2f2f2;;
    border-right:  3px solid #f2f2f2;;
    border-radius: 20px/20px;
}


#filtre a:hover
{
    background-color: #deebff;
    border-color: #deebff;
}

#budget
{
    color: #0065fc;
    background-color: #deebff;
    border: 3px solid #deebff;
    border-radius: 50%;
    margin-right: 10px;
    padding: 8px 8px 8px 8px;
}

#family
{
    color: #0065fc;
    background-color: #deebff;
    border: 3px solid #deebff;
    border-radius: 50%;
    margin-right: 10px;
    padding: 8px 12px 8px 12px;
}

#couple
{
    color: #0065fc;
    background-color: #deebff;
    border: 3px solid #deebff;
    border-radius: 50%;
    margin-right: 10px;
    padding: 8px 9px 8px 9px;
}

#pets
{
    color: #0065fc;
    background-color: #deebff;
    border: 3px solid #deebff;
    border-radius: 50%;
    margin-right: 10px;
    padding: 8px 8px 8px 8px;
}


#info-icon
{
    color: #0065fc;
    border: solid 2px #f2f2f2;
    border-radius: 50%;
    margin-right: 3px;
    padding: 5px 10px 6px 12px;
}

/*--------------------------------------Section 1--------------------------------------*/

#middle
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#middle section
{
    width: 70%;
    margin-right: 30px;
    margin-bottom: 20px;
}

#middle section, aside
{
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

#middle aside
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 30%;
    margin-bottom: 20px;
}

#middle a
{
    color: black;
    text-decoration: none;
}

#middle section h1
{
    font-size: 23px;
    margin-bottom: 8px;
    margin-left: 18px;
}

#middle h2
{
    font-size: 17px;
    padding-left: 20px;
    margin-top: 30px;
}

#middle section h3
{
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 5px;
}

#middle p
{
    font-size: 15px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.euro
{
    font-weight: bold;
}

#contenu-hebergement
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0px;
}

aside h1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
    margin-left: 16px;
    margin-bottom: 5px;
}

#trend_icon
{
    display: none;
    color: black;
    float: right;
}

aside h2
{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}

aside h3
{
    margin-top: -8px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

#hotel-soleil, #coeur-hotes, #hotel-bleublanc
{
    font-size: 18px;
    margin-left: 140px;
    margin-top: 15px;
}

.stars i, .stars-2 i
{
    height: 13px;
    width: 13px;
}

.stars
{

    color: #f2f2f2;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}

.stars-2
{
    color: #f2f2f2;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 14px;
}

.checked
{
    color: #0065fc;
}


/*----------------------------------------Gestion des images--------------------------------------*/

.description-1 img
{
    max-width: 315px;
    max-height: 175px;
    border-radius: 22px 22px 0px 0px;
}

.description-2 img
{
    width: 130px;
    height: 135px;
    float: left;
    border-radius: 22px 0px 0px 22px;
}

.description-3 img
{
    width: 305px;
    height: 390px;
    border-radius: 22px 22px 0px 0px;
}

.description-4 img
{
    width: 305px;
    height: 180px;
    border-radius: 22px 22px 0px 0px;
}

.description-5 img
{
    width: 305px;
    height: 110px;
    border-radius: 22px 22px 0px 0px;
}

.description-6 img
{
    width: 305px;
    height: 140px;
    border-radius: 22px 22px 0px 0px;
}

.description-7 img
{
    width: 305px;
    height: 150px;
    border-radius: 22px 22px 0px 0px;
}

.description-1
{
    background-color: white;
    border: 4px solid white;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 4px 4px 10px lightgrey;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.description-2
{
    background-color: white;
    border: 4px solid white;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 4px 4px 10px lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.description-3, .description-4, .description-5
{
    background-color: white;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 4px 4px 10px lightgrey;
    margin-bottom: 40px;
    margin-right: 40px;
}

.description-6, .description-7
{
    background-color: white;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 4px 4px 10px lightgrey;
    margin-bottom: 40px;
}

.description-1
{
    width: 235px;
    height: 200px;
}
.description-2
{
    min-width: 345px;
    height: 135px;
}

.description-3
{
    width: 305px;
    height: 445px;
}

.description-4
{
    width: 305px;
    height: 235px;
}

.description-5
{
    width: 305px;
    height: 165px;
}

.description-6
{
    width: 305px;
    height: 195px;
}

.description-7
{
    width: 305px;
    height: 210px;
}

/*--------------------------------------Section 2---------------------------------*/

#second-section h1
{
    font-size: 23px;
}

#bottom
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
}

#activities-box-1, #activites-box-2
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

#bottom h3
{
    margin-left: 25px;
}

#bottom a
{
    color: black;
    text-decoration: none;  
}


/*----------------------------------------Footer------------------------------------*/

footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    background-color: #f2f2f2;
    padding-left: 40px;
    padding-top: 20px;
}

footer a
{
    color: black;
    font-size: 12px;
    text-decoration: none;  
}

footer h2
{
    font-size: 16px;
}

footer #a-propos, footer #nos-hebergements, #assitance
{
    margin-right: 180px;
}

footer ul
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0%;
}


/*------------------------------------Media Queries------------------------------*/

@media all and (max-width: 1260px)
{
        
    #logo, header, #middle, #bottom, #activites
    {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0px;
    }
    
    .stars-2
    {
        vertical-align: bottom;
    }

    #middle
    {
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-content: center;
    }

    #middle section
    {
        width: auto;
        margin-right: 0px;
    }

    #middle aside
    {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    #second-section h1
    {
        margin-left: 30px;
    }

    #bottom
    {
        justify-content: flex-start;
    }

    footer #a-propos, footer #nos-hebergements, #assitance
    {
        margin-right: 65px;
    }        
}

/*--------------------------------------Smartphones----------------------------*/
@media all and (max-width: 660px)
{
    #logo, header, #middle, #bottom, #activites
    {
        margin-left: 0px;
        margin-right: 0px;
    }    

    header
    {
        margin-left: 0px;
    }

    header h1
    {
        font-size: 24px;
        margin-top: 24px;
    }
/*--------------------------------------Nav responsive-------------------------------*/
        
    #inscription
    {
        display: none;
    }

    #inscription-mobile
    {
        display: inline-block;
        color: #0065fc;
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
        padding-top: 15px;
        padding-right: 15px;
    }

    #logo img
    {
        margin-bottom: 0px;
    }

    #logo
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-end;
        height: 50px;         
    }
        
        
    nav ul
    {
        padding-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-end;                   
    }

    nav li
    {
        display: inline-block;
        text-align: center;
        width: 100%;
        border-bottom: solid 3px #f2f2f2;
        margin-right: 0px;
        padding-bottom: 15px;
    }

    .ancre-1
    {
        color: black;
        font-weight: normal;
        padding-left: 55px;
        padding-right: 35px;
    }

    .ancre-2 
    {
        color: black;
        font-weight: normal;
        padding-left: 65px;
        padding-right: 75px;
    }
        
    .ancre-1:hover, .ancre-2:hover
    {
        color: #0065fc;
        border-top: none;
        padding-top: 0px;
        border-bottom: solid 3px #0065fc;
        padding-bottom: 15px; 
    }    


/*--------------------------------------Form responsive-------------------------------*/
    #map-icon
    {
        padding: 19px 21px 16px 21px;
    }    

    input
    {
        width: 68%;
        height: 50px;
        border-left: 5px;
    }

    #lieu
    {
        font-size: 20px;
    }

    input[value="Rechercher"]
    {
        display: none;
    }

    .search-button
    {
        visibility: visible;
        height: 55px;
        color: white;
        background-color: #0065fc;
        border: solid 1px #0065fc;
        border-radius: 15px 15px 15px 15px;
        padding: 12px 18px 9px 18px;
        margin-left: -15px;
    }

/*---------------------------------------------------------------------*/
    #filtre a
    {
        margin-right: 10px;
    }

    header p:last-child
    {
        padding-right: 10px;
        line-height: 2em;
    }
    
    #middle section, aside
    {
        background-color: #f2f2f2;
        border-radius: 0px 0px 0px 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 0px;
        padding-left: 0px;
    }

    #middle section 
    {
        background-color: white;
    }
    
    aside h1
    {
        font-size: 23px;
        margin-left: 5px;
    }

    #middle section h1
    {
        margin-left: 45px
    }

    #middle section h2
    {
        font-size: 18px;
        margin-left: 25px;
    }

    #second-section h1
    {
        margin-left: 45px;
        margin-bottom: 25px;
    }
    
    #middle section h3
    {
        margin-bottom: 5px;
    }

    #middle p
    {
        margin-bottom: 3px;
    }

    #bottom
    {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: auto;
    }

    #bottom h3
    {
        font-size: 18px;
        margin-top: 12px;
    }

    footer
    {
        flex-direction: column;
    }

    footer #a-propos, footer #nos-hebergements, #assitance
    {
        margin-right: 0px;
    }

/*----------------------------------Images----------------------------------*/
    .description-1 img
    {
        object-fit: cover;
        width: 325px;
        height: 115px;
    }

    .description-3 img, .description-4 img, .description-5 img, .description-6 img, .description-7 img
    {
        object-fit: cover;
        width: 325px;
        height: 135px;
    }

    .description-2
    {
        min-width: 300px;
        height: 135px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .description-1
    {
        width: 315px;
        height: 190px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .description-3, .description-4, .description-5, .description-6, .description-7
    {
        width: 325px;
        height: 190px;
        margin-right: 0px;
        margin-left: 0px;
    }
        
}
/*------------------------------------------------------------------------------*/


@media all and (max-width: 375px)
{
    .ancre-1
    {
        padding-left: 35px;
        padding-right: 35px;
    }

    .ancre-2 
    {
        padding-left: 55px;
        padding-right: 55px;
    }

    input
    {
        width: 60%;
    }

    #middle section h1
    {
        margin-left: 20px;
    }

    #middle section h2
    {
        margin-left: 20px;
        padding-left: 0px;
    }

    #second-section h1
    {
        margin-left: 20px;
    }
}

@media all and (max-width: 372px)
{

    .ancre-1
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ancre-2 
    {
        padding-left: 43px;
        padding-right: 43px;
    }

    #second-section h1
    {
        margin-left: 0px;
    }

    aside
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    #middle section h1
    {
        font-size: 19px;
        margin-left: 18px;
    }

    aside h1
    {
        font-size: 19px;
    }

    #middle h2
    {
        margin-left: 10px;
    }

    #middle h3
    {
        font-size: 16px;
    }
}